{
	"extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
	"env": {
		"node": true,
		"es6": true
	},
    "root": true,
    "parser": "@typescript-eslint/parser"
}